.nav-scrollable[b-07mxhns5a7] {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.nav-item[b-07mxhns5a7] {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

.nav-item[b-07mxhns5a7]  a {
    color: var(--color-pure-white);
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    opacity: 0.8;
    transition: all 0.2s;
}

.nav-item[b-07mxhns5a7]  a:hover {
    background-color: rgba(255,255,255,0.1);
    opacity: 1;
}

.nav-item[b-07mxhns5a7]  a.active {
    background-color: var(--color-bright-cyan);
    color: var(--color-pure-white);
    opacity: 1;
    font-weight: 600;
}

.bi[b-07mxhns5a7] {
    font-size: 1.2rem;
}

/* Action Buttons */
.btn-action[b-07mxhns5a7] {
    background-color: var(--color-action-pink);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.btn-action:hover[b-07mxhns5a7] {
    background-color: #e03e60; /* Slightly darker */
    color: white;
}

.btn-settings[b-07mxhns5a7] {
    background-color: transparent;
    color: var(--color-pure-white);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.btn-settings:hover[b-07mxhns5a7] {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .collapse[b-07mxhns5a7] {
        display: block !important;
    }
}